<header id="header" class="site-header">
  <nav class="main-nav">
    <div class="nav-logo">
      <a href="#">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZxlBhuAe5a2Quu-_DVHCVdPwH4Bk0EPNT6g&s" alt="Bakery Logo" class="nav-logo" />
      </a>
    </div>
    <div class="nav-links">
      <a href="#">Product</a>
      <a href="#">Features</a>
      <a href="#">Marketplace</a>
      <a href="#">Company</a>
    </div>
    <div class="nav-login">
      <a href="#">Log in <span aria-hidden="true">&rarr;</span></a>
    </div>
  </nav>
</header>
