.review {
    display: flex;
    flex-direction: row;
    color: var(--color-text-primary);
    margin-top: 5rem;
}

.review img {
    border-radius: 14px;
    object-fit: cover;
}

.review .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 2rem;
}

.review .content .title {
    width: fit-content;
    font-size: var(--fs-4xl);
    margin-top: 0;
}

.review .content .text {
    font-size: var(--fs-xl);
    line-height: 1.65;
    flex: 1 1 0;
    width: 85%;
    margin: 0;
}

 @media (max-width: 900px) {
    .review {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .review .content {
        align-items: center;
        /* text-align: center; */
    }

    .review .content img {
        width: 100%;
        max-width: 480px;
    }
}
