<section class="section" id="categories">
  <div class="container">
    <div class="section-head">
      <h2 class="section-title">Shop by category</h2>
    </div>

    <div class="categories-grid">
      <category-card href="#" name="Bread"></category-card>
      <category-card href="#" name="Pastries"></category-card>
      <category-card href="#" name="Cakes"></category-card>
      <category-card href="#" name="Cookies"></category-card>
    </div>

    <div class="categories-more">
      <a href="#">More...</a>
    </div>
  </div>
</section>
