.bestsellers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: var(--color-text-primary);
    margin-top: 5rem;
}

.bestsellers .title {
    font-size: var(--fs-4xl);
    margin-bottom: 1.5rem;
}

.bestsellers .products {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .bestsellers .products {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}