.bestsellers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: var(--color-text-primary);
    margin-top: 5rem;
}

.bestsellers .title {
    font-size: var(--fs-4xl);
    margin-bottom: 1.5rem;
}

.bestsellers .products {
    width: 100%;
}
