.categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: var(--color-text-primary);
    margin-top: 5rem;
}

.categories .title {
    font-size: var(--fs-4xl);
    margin-bottom: 1.5rem;
}

.categories .content {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1rem;
    align-items: stretch;
}

.categories .content > * {
    flex: 1 1 0;
    min-width: 0;
}

@media only screen and (max-width: 1000px) {

    .categories .content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 568px) {

    .categories .content {
        display: grid;
        grid-template-columns: 1fr;
    }
}