.hero {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    align-items: center;
    color: var(--color-text-primary);
    padding: 0 1rem;
}

.hero img {
    height: auto;
    object-fit: fill;
}

.hero .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hero .title {
    text-align: center;
    font-size: var(--fs-7xl);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.hero .desc {
    font-size: var(--fs-xl);
    text-align: center;
    width: 100%;
    margin-top: 0;
    margin-bottom: 2rem;
}

.hero .text .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
    max-width: 20rem;
}

.hero .text .buttons > a{
    width: 100%;
    padding: 10px 5px 10px 5px;
    background-color: transparent;
    border-radius: 6px;
    font-weight: 700;
    color: var(--color-btn-text);
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-btn-text);
    text-align: center;
    vertical-align: center;
    text-decoration: none;
    transition: transform 120ms ease, background-color 220ms ease;
}

.hero .text .buttons > a:hover {
    transform: scale(1.03);
}

.hero .text .buttons .primary {
    background-color: var(--color-btn-primary);   
}

.hero .text .buttons .primary:hover {
    background-color: var(--color-btn-primary-focus);   
}

.hero .text .buttons .secondary:hover {
    background-color: var(--color-btn-primary-focus);   
}

/* Tablet and larger screens */
@media only screen and (min-width: 768px) {
    .hero {
        margin-top: 4rem;
        padding: 0;
    }

    .hero img {
        max-width: 400px;
    }

    .hero .desc {
        width: 50%;
    }

    .hero .text .buttons {
        flex-direction: row;
        width: auto;
        max-width: none;
    }

    .hero .text .buttons > a{
        width: 9rem;
    }
}
